main{
    text-align: center;
    .textoPrincipal{
        text-align: left;
        
            line-height: 1.5;
            margin-bottom: $t-20px;
            font-size: 1.3rem;
    }
}
                