$color-principal: rgb(255, 0, 0);
$color-secundario:  rgb(199, 0, 0);
$color-blanco:  white;
$color-gris:rgb(219, 214, 214);
$t-20px: 20px;
$t-10px: 10px;
$t-5px: 5px;
$t-fuente: 1.3rem;

$fuentesGrosor:(
    thin: 100,
    light:  300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900
);